@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fasthand&display=swap');

.nav {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    background-color: #0069D9;
    color: white;
}